.countries-block{
  padding-top: 30px;
  padding-bottom: 30px;
}
.countries{
  width: 25%;
  padding: 0 20px 0 0;
}
.countries-list{
  max-height: 400px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
.country-info-block{
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
}
.country-borders b{
  margin-right: 20px;
}


